.chat-main
  .chat-main__group-info
    .group-info
      .group-info__name-member
        .group-info__name-member__name
          %span<>
            group_name
        .group-info__name-member__member
          %span<>
            Member：group_member1 group_member2
      .group-info__edit
        = link_to "#", class: "group-info__edit__btn" do
          %span<>
            Edit
  .chat-main__message-list
    .message-box
      - @messages.each do |message|
        .message-box__message
          .message-box__message__name-date
            .message-box__message__name-date__name
              %span<>
                = message.user.name
            .message-box__message__name-date__date
              %span<>
                = message.created_at
          .message-box__message__text
            %span<>
              = message.text
  .chat-main__message-form
    = form_with model: [@group, @message], local: true do |f|
      .form
        .form__contents
          = f.text_field :text, placeholder: "type a message", class: "form__contents__text"
          %label{class: "form__contents__label"}
            = icon('fas', 'image', class: "form__contents__label--icon")
            = f.file_field :image, { class: "form__contents__label--file-field"}
        = f.submit "Send", { class: "form__submit"}
